In [5]:
sum = 0
for num in range(1, 11):
    sum += num
    print(sum,'+=',num)
    print(sum)
print(sum)

1 += 1
1
3 += 2
3
6 += 3
6
10 += 4
10
15 += 5
15
21 += 6
21
28 += 7
28
36 += 8
36
45 += 9
45
55 += 10
55
55

In [6]:
result = list(range(5))
print(result)

[0, 1, 2, 3, 4]

In [7]:
result = list(range(1,4))
print(result)

[1, 2, 3]

In [8]:
print(len(result))

3

In [9]:
print(result[0])

1

In [10]:
result = list(range(1,10,2))
print(result)

[1, 3, 5, 7, 9]

In [11]:
result = list(range(2,10,2))
print(result)

[2, 4, 6, 8]

In [13]:
result = list(range(1,-10,-2))
print(result)

[1, -1, -3, -5, -7, -9]

In [14]:
for val in range(1,5):
    print(val)

1
2
3
4

In [18]:
input_val = 5
for num in range(1, 10) :
    print(input_val, ' * ', num, ' = ', input_val*num)

5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45

### 221016test -ing

In [25]:
dataset = ['12345', 'M12', '14MM', 'm1M2']
val = 0 
#M 카운트 할 변수 val 선언

for data in dataset:  #dataset 리스트 중 항목 추출 용
    for index in range(len(data)):    #dataset의 항목인 data 길이 추출하여 
        if data[index] == 'M' :    #0,1,2,... 같이 M 찾기
            val += 1     #찾은 M 카운트

print(val)
        
#dataset 리스트에 M 빈도수 찾는 문제

4